* {
  /* 字体抗锯齿 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 使用与当前操作系统一致的字体 https://devhints.io/css-system-font-stack  */
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}
html {
  font-size: 50px;
}
body {
  font-size: 12px;
  padding: 0 10px 80px 10px;/* 空出底部 Toolbar 的距离*/

}
/* 底部无 Toolbar 的页面 */
body.no-foot-tabbar {
  padding-bottom: 20px;
}

.demo__title {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: rgba(69,90,100,.6);
  padding: 40px 15px 15px;
}